#content { 
    overflow:auto; 
    width: 600px; 
    display: flex;

  } 
  
  #left, #right { 
    width: 25%; 
    margin:5px; 
    padding: 1em; 
  } 
  
  #left  { float:left;  }
  #right { float:right; } 


  .expander:focus{
    width: 400px;
  }